# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
ENV/

# SQLite
*.db
*.sqlite3

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# PyCharm
.idea/
*.iws
*.iml
*.ipr

# Sistema operacional
## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

## Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

## macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Logs e dados temporários
*.log
*.tmp
*.temp
.cache/
logs/
temp/

# Arquivos de ambiente e configuração local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node (caso decida usar npm no frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
